<nav id="navigation">
    <ul>
        <li><a href="/">Google Sheets</a></li>
        <li><a href="/docs">Google Docs</a></li>
        <li><a href="/drive">Google Drive</a></li>
        <li><a href="/calendar">Google Calendar</a></li>
        <li><a href="/search">Google Search</a></li>
    </ul>
</nav>