<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/{{>stylesheet}}">
    <title>Derive</title>
</head>
<body>
    {{{body}}}
    {{>quotes}}
    {{>menu}}
</body>
</html>