<div class="quotes">
    <p id="quote1">{{quote1}}</p>
    <p id="quote2">{{quote2}}</p>
    <p id="quote3">{{quote3}}</p>
</div>
<div id="menu">
    <a href="/"><button>Google Sheets</button></a>
    <a href="/drive"><button>Google Drive</button></a>
    <a href="/doc"><button>Google Docs</button></a>
    <a href="/search"><button>Google Search</button></a>
</div>